services:
  db:
    image: postgres:16-alpine
    container_name: db
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: mypasswordanas1234
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d appdb"]
      interval: 5s
      timeout: 3s
      retries: 20
    networks: [capstone]

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SERVER_PORT: 8080
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/appdb
      SPRING_DATASOURCE_USERNAME: appuser
      SPRING_DATASOURCE_PASSWORD: mypasswordanas1234
    networks: [capstone]

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        # talk to the backend service name inside the Docker network
        VITE_API_BASE_URL: http://localhost:8080
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks: [capstone]

networks:
  capstone: {}

volumes:
  pgdata: {}
